<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yu.cartoon.cartoon_web.mapper.ChapterMapper">
    <resultMap id="BaseResultMap" type="cn.yu.cartoon.cartoon_web.pojo.dto.Chapter" >
        <id column="chapter_id" jdbcType="INTEGER" property="chapterId" />
        <result column="sort_num" jdbcType="INTEGER" property="sortNum" />
        <result column="chapter_name" jdbcType="VARCHAR" property="chapterName" />
        <result column="chapter_update_time" jdbcType="TIMESTAMP" property="chapterUpdateTime" />
        <result column="cartoon_id" jdbcType="INTEGER" property="cartoonId" />
        <result column="chapter_price" jdbcType="INTEGER" property="chapterPrice" />
        <result column="chapter_uri" jdbcType="VARCHAR" property="chapterUri" />
        <result column="chapter_page_count" jdbcType="INTEGER" property="chapterPageCount" />
    </resultMap>

    <select id="selectCountByUri" parameterType="String" resultType="Integer" >
        SELECT count(*) FROM chapter WHERE chapter_uri = #{chapterUri}
    </select>
    <select id="selectChapterById" parameterType="Integer" resultMap="BaseResultMap" >
        SELECT * FROM chapter WHERE chapter_id = #{chapterId}
    </select>
    <select id="selectChapterByUri" parameterType="String" resultMap="BaseResultMap" >
        SELECT * FROM chapter WHERE chapter_uri = #{chapterUri}
    </select>

    <select id="selectChaptersByCartoonId" parameterType="Integer" resultMap="BaseResultMap">
        SELECT * FROM chapter where cartoon_id = #{cartoonId} ORDER BY sort_num ASC
    </select>

    <select id="selectChaptersByCartoonIdByPage" parameterType="Map" resultMap="BaseResultMap">
        SELECT * FROM chapter WHERE cartoon_id = #{cartoonId} ORDER BY sort_num ASC limit #{index}, #{size}
    </select>

    <select id="selectChapterCountByCartoonId" parameterType="Integer" resultType="Integer">
        SELECT count(*) FROM chapter WHERE cartoon_id = #{cartoonId}
    </select>

    <insert id="insert" parameterType="Chapter" >
        INSERT INTO chapter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">
                chapter_id,
            </if>
            <if test="sortNum != null">
                sort_num;
            </if>
            <if test="chapterName != null" >
                chapter_name,
            </if>
            <if test="chapterUpdateTime != null" >
                chapter_update_time,
            </if>
            <if test="cartoonId != null" >
                cartoon_id,
            </if>
            <if test="chapterPrice != null" >
                chapter_price,
            </if>
            <if test="chapterUri != null" >
                chapter_uri,
            </if>
            <if test="chapterPageCount != null">
                chapter_page_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="chapterId != null">
                #{chapterId},
            </if>
            <if test="sortNum != null">
                #{sortNum};
            </if>
            <if test="chapterName != null" >
                #{chapterName},
            </if>
            <if test="chapterUpdateTime != null" >
                #{chapterUpdateTime},
            </if>
            <if test="cartoonId != null" >
                #{cartoonId},
            </if>
            <if test="chapterPrice != null" >
                #{chapterPrice},
            </if>
            <if test="chapterUri != null" >
                #{chapterUri},
            </if>
            <if test="chapterPageCount != null">
                #{chapterPageCount},
            </if>
        </trim>
    </insert>

</mapper>