<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="UTF-8" />
    <title>失格纹的最强贤者～世界最强的贤者为了变得更强而转生了～漫画_21.3连载中_失格紋の最強賢者～世界最強の賢者が更に強くなるために転生しました～在线漫画_极速漫画</title>
    <meta content="极速漫画提供失格纹的最强贤者～世界最强的贤者为了变得更强而转生了～漫画21.3在线阅读和第一时间更新，同时也提供失格纹的最强贤者～世界最强的贤者为了变得更强而转生了～21.3 情报、图透等信息，极速漫画是一个综合的失格纹的最强贤者～世界最强的贤者为了变得更强而转生了～在线漫画阅读网站，失格纹的最强贤者～世界最强的贤者为了变得更强而转生了～漫画在不同地区的译名还有：失格紋の最強賢者～世界最強の賢者が更に強くなるために転生しました～。失格纹的最强贤者～世界最强的贤者为了变得更强而转生了～漫画简介：为了获得『最适合魔法战斗的纹章』成为最强魔法使，此... " name="Description" />
    <meta content="失格纹的最强贤者～世界最强的贤者为了变得更强而转生了～漫画,失格纹的最强贤者～世界最强的贤者为了变得更强而转生了～21.3,失格纹的最强贤者～世界最强的贤者为了变得更强而转生了～在线漫画" name="keywords" />
    <meta content="极速漫画:好漫画,为看漫画的人而生、1kkk.com" name="Author" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/mobile/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/mobile/swiper-4.1.0.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/mobile/style.css}" />

    <script type="text/javascript" th:src="@{/js/mobile/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/mobile/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/mobile/amazeui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/mobile/script.js}"></script>
    <script type="text/javascript" th:src="@{/js/mobile/comics_mb.js}"></script>
    <script type="text/javascript" th:src="@{/js/mobile/newyb.js}"></script>
    <script type="text/javascript">var DM5_COMIC_TEMPLATE = 2;
    var DM5_COMIC_SORT = 2;
    var DM5_COMIC_MID = 38247;
    var DM5_CURRENTURL = "/manhua38247/";
    var COMIC_MID = 38247;
    var DM5_MID = 38247;
    var DM5_COMIC_MNAME = "失格纹的最强贤者～世界最强的贤者为了变得更强而转生了～";
    var DM5_COMIC_URL = "/manhua38247/";
    var DM5_USERID = 0;
    var DM5_PAGETYPE = 4;
    var DM5_PAGEINDEX = 1;
    var DM5_PAGEPCOUNT = 862;
    var DM5_POSTCOUNT = 8619;
    var DM5_LOADINGIMAGE = 'http://css99tel.cdndm5.com/v201903121809/blue/images/loading.gif';
    var DM5_SHOWCHAPTERIMAGE = "False";
    var DM5_ISSHOWADULT = "False";</script>
    <style type="text/css">.detail-list-2{ min-height:400px;}</style>
    <script type="text/javascript" th:src="@{/js/mobile/comm.js}"></script>
    <script type="text/javascript" th:src="@{/js/mobile/showcomic.js}"></script>
  </head>
  <body class="bg-gray" style="padding-top: 0; zoom: 1;">
    <div class="normal-top" style="position: inherit;">
      <a href="javascript:history.back();">
        <img class="normal-top-back" src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/normal-top-back.png" alt="后退" /></a>
      <span class="normal-top-title" th:text="${cartoon.cartoonName}"></span></div>
    <div class="detail-main">
      <img class="detail-main-bg" src="http://mhfm4tel.cdndm5.com/39/38247/20181206103928_180x240_25.jpg" />
      <div class="detail-main-cover">
        <img src="http://mhfm4tel.cdndm5.com/39/38247/20181206103928_180x240_25.jpg" /></div>
      <div class="detail-main-info">
        <p class="detail-main-info-title" th:text="${cartoon.cartoonName}">失格纹的最强贤者～世界最强的贤者为了变得更强而转生了～</p>
        <p class="detail-main-info-star star-4"></p>
        <p class="detail-main-info-author">作者：
          <a href="/search?title=%e8%bf%9b%e8%a1%8c%e8%af%b8%e5%b2%9b%2f%e8%82%9d%e5%8c%a0%2f%e5%86%af%e6%98%8a&amp;language=1&amp;f=2" th:text="${cartoon.cartoonAuthor}"></a></p>
        <p class="detail-main-info-class">
          <span href="/manhua-rexue/">
            <a>热血</a>
          </span>
          <span href="/manhua-maoxian/">
            <a>冒险</a>
          </span>
        </p>
      </div>
    </div>
    <div th:if="${abbreviation}">
        <p class="detail-desc" id="detail-desc" style="display: none;" th:text="${cartoon.cartoonDescription}"></p>
        <p class="detail-desc" onclick="opendetaildesc(this);"  style="" th:utext="${abbreviation}"></p>
    </div>
    <div th:unless="${abbreviation}">
        <p class="detail-desc" id="detail-desc" style="" th:text="${cartoon.cartoonDescription}"></p>
        <p class="detail-desc" onclick="opendetaildesc(this);" style="display: none" th:text="${abbreviation}">
            <img class="desc-more" th:src="@{/img/mobile/desc-more.png}" /></p>
    </div>

    <!-- 广告位-->
    <!--<div class="detail-ad-con">
      <div class="adform_2 clDiv" id="mb-bb1" adgroupid="0" adid="132" aid="3604" style="height: 137px;">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes" width="100%" id="frame_2930" src="/wxhfm.html?cid=2930&amp;v=20190315153320&amp;a=10&amp;p=4" class=""></iframe>
        <script type="text/javascript">var h = $("#mb-bb1").width() * 0.25;
        $("#mb-bb1").css("height", h + "px");</script>
        <script type="text/javascript">addtogroup(132, 0, 3604, 'mb-bb1');</script></div>
    </div>-->
    <div id="tempc">
      <div class="detail-selector item-2">
        <!--href="javascript:void(0);" onclick="titleSelect(this, 'detail-list-select', 'detail-list-select-1');"-->
        <a class="detail-selector-item active" >连载</a>
      </div>

      <ul class="detail-list-1 detail-list-select">
        <th:block th:each="chapter: ${newChapterList}">
          <li style=" display : inline; float: none">
            <a  class="chapteritem" style="text-align: left">
              <div class="detail-list-2-cover">
                <img class="detail-list-2-cover-img" th:src="@{/img/a1.jpg}" />
              </div>
              <div class="detail-list-2-info" style="line-height: normal; margin: 0 0 0 10%;">
                <img class="detail-list-2-cover-img" th:src="@{/img/mobile/new.png}" style="width: 80px;height: 60px; float: right" />
                <p class="detail-list-2-info-title" th:text="'第' + ${chapter.sortNum} + '话：' + ${chapter.chapterName}"></p>
                <p class="detail-list-2-info-subtitle" th:text="${#dates.format(chapter.chapterUpdateTime, 'yyyy-MM-dd')}">2017-4-09</p>
              </div>
            </a>
          </li>
        </th:block>
      </ul>

      <div style="width: 100%; height: 40px; background-color: white"></div>

      <ul class="detail-list-1 detail-list-select" id="detail-list-select-1">
        <th:block th:each="chapter: ${chapterList}">
          <li style=" display : inline; float: none">
            <a  class="chapteritem" style="text-align: left">
              <div class="detail-list-2-cover">
                <img class="detail-list-2-cover-img" th:src="@{/img/a1.jpg}" />
              </div>
              <div class="detail-list-2-info" style="line-height: normal; margin: 0 0 0 10%;">
                <p class="detail-list-2-info-title" th:text="'第' + ${chapter.sortNum} + '话：' + ${chapter.chapterName}"></p>
                <p class="detail-list-2-info-subtitle" th:text="${#dates.format(chapter.chapterUpdateTime, 'yyyy-MM-dd')}">2017-4-09</p>
              </div>
            </a>
          </li>
        </th:block>
      </ul>
    </div>
    <div class="listpage">
      <span class="left">
        <a class="before">上一页</a>
      </span>
      <span class="middle">
        <select name="pageselect" onchange="" >
          <option value="" selected="selected">第 1 - 10 话</option>
          <option value="" selected="">第 11 - 20 话</option>
          <option value="" selected="">第 11 - 20 话</option>
          <option value="" selected="">第 11 - 20 话</option>
          <option value="" selected="">第 11 - 20 话</option>
          <option value="" selected="">第 11 - 20 话</option>
          <option value="" selected="">第 11 - 20 话</option>
          <option value="" selected="">第 11 - 20 话</option>
          <option value="" selected="">第 11 - 20 话</option>
          <option value="" selected="">第 11 - 20 话</option>
        </select>
      </span>
      <span class="right">
        <a class="onclick">下一页</a>
      </span>
    </div>

    <a class="detail-bootom-ad-con" style="display:none;" href="javascript:window.location.href = 'manhuaren://start';setTimeout(function () {window.location.href = '/download/';}, 500);">
      <img class="detail-bootom-ad" src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/detail-bootom-ad.png" />
    </a>
    <div class="detail-fix-bottom">
      <a href="javascript:void(0);" class="collection">
        <img class="detail-bottom-1" src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/detail-bottom-1.png" /></a>
      <a href="javascript:void(0)" class="btndownload">
        <img class="detail-bottom-2" src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/detail-bottom-2.png" /></a>
      <a href="javascript:showShareList();">
        <img class="detail-bottom-3" src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/detail-bottom-3.png" /></a>
      <a href="/ch1_1-525328/" title="第1.1话" class="detail-bottom-btn">开始阅读</a>
    </div>
    <div class="mask" style="display:none;"></div>
    <div class="toast" style="display:none;"></div>
    <div class="win-pay2 wincheckAdult" style="display:none;">
      <a href="javascript:void(0);" class="closewincheckAdult">
        <img class="win-pay-cross" src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/win-cross.png" /></a>
      <p class="win-pay-title2">该漫画为限制漫画</p>
      <p class="win-pay-content">有部份章节可能含有暴力、血腥、色情或不当的语言等内容，不适合未成年观众，为保护未成年人，我们将对漫画进行屏蔽</p>
      <p class="win-pay-warning">是否已年满18岁？</p>
      <div class="win-pay-btn-group2 pb20">
        <a class="win-pay-btn red closewincheckAdult" href="javascript:void(0);">否</a>
        <a class="win-pay-btn red" href="javascript:void(0);" id="checkAdult">是</a></div>
    </div>
    <div id="index-ad" class="windownload" style="display:none;">
      <img class="index-adbg" src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/download-bg-3.png" />
      <a href="javascript:void(0);" onclick="$('.windownload').hide();$('.mask').hide();">
        <img id="download-cross" class="index-adcross" src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/download-cross.png" style="margin-bottom: 635.68px;" /></a>
      <a href="javascript:window.location.href = 'manhuaren://start';setTimeout(function () {window.location.href = '/download/';}, 500);">
        <img class="index-adbtn" src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/download-btn-2.png" /></a>
    </div>
    <script type="text/javascript">document.getElementById('download-cross').style.marginBottom = document.body.clientWidth * 1.16 + 'px';</script>
    <!-- 分享推广-->
    <div class="shareForm" style="display:none;">
      <div class="shareList am-avg-sm-3 am-thumbnails">
        <a target="_blank" href="http://service.weibo.com/share/share.php?url=%2fmanhua38247%2f&amp;title=%e5%a4%b1%e6%a0%bc%e7%ba%b9%e7%9a%84%e6%9c%80%e5%bc%ba%e8%b4%a4%e8%80%85%ef%bd%9e%e4%b8%96%e7%95%8c%e6%9c%80%e5%bc%ba%e7%9a%84%e8%b4%a4%e8%80%85%e4%b8%ba%e4%ba%86%e5%8f%98%e5%be%97%e6%9b%b4%e5%bc%ba%e8%80%8c%e8%bd%ac%e7%94%9f%e4%ba%86%ef%bd%9e|%e4%b8%ba%e4%ba%86%e8%8e%b7%e5%be%97%e3%80%8e%e6%9c%80%e9%80%82%e5%90%88%e9%ad%94%e6%b3%95%e6%88%98%e6%96%97%e7%9a%84%e7%ba%b9%e7%ab%a0%e3%80%8f%e6%88%90%e4%b8%ba%e6%9c%80%e5%bc%ba...&amp;pic=http://mhfm4tel.cdndm5.com/39/38247/20181206103928_180x240_25.jpg">
          <img src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/detail_share_1.png" alt="微博" /></a>
        <!--<a href="javascript:void(0);" onclick="$('.weixin_div').show();$('.mask').show();$('.shareForm').hide();">                <img src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/detail_share_2.png" alt="微信" /></a>-->
        <a target="_blank" href="http://connect.qq.com/widget/shareqq/index.html?url=%2fmanhua38247%2f&amp;title=%e5%a4%b1%e6%a0%bc%e7%ba%b9%e7%9a%84%e6%9c%80%e5%bc%ba%e8%b4%a4%e8%80%85%ef%bd%9e%e4%b8%96%e7%95%8c%e6%9c%80%e5%bc%ba%e7%9a%84%e8%b4%a4%e8%80%85%e4%b8%ba%e4%ba%86%e5%8f%98%e5%be%97%e6%9b%b4%e5%bc%ba%e8%80%8c%e8%bd%ac%e7%94%9f%e4%ba%86%ef%bd%9e&amp;summary=%e4%b8%ba%e4%ba%86%e8%8e%b7%e5%be%97%e3%80%8e%e6%9c%80%e9%80%82%e5%90%88%e9%ad%94%e6%b3%95%e6%88%98%e6%96%97%e7%9a%84%e7%ba%b9%e7%ab%a0%e3%80%8f%e6%88%90%e4%b8%ba%e6%9c%80%e5%bc%ba...&amp;pics=http://mhfm4tel.cdndm5.com/39/38247/20181206103928_180x240_25.jpg">
          <img src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/detail_share_3.png" alt="QQ" /></a>
        <a target="_blank" href="http://www.douban.com/recommend/?url=%2fmanhua38247%2f&amp;title=%e5%a4%b1%e6%a0%bc%e7%ba%b9%e7%9a%84%e6%9c%80%e5%bc%ba%e8%b4%a4%e8%80%85%ef%bd%9e%e4%b8%96%e7%95%8c%e6%9c%80%e5%bc%ba%e7%9a%84%e8%b4%a4%e8%80%85%e4%b8%ba%e4%ba%86%e5%8f%98%e5%be%97%e6%9b%b4%e5%bc%ba%e8%80%8c%e8%bd%ac%e7%94%9f%e4%ba%86%ef%bd%9e">
          <img src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/detail_share_4.png" alt="豆瓣" /></a>
      </div>
      <a href="javascript:hideShareList();" class="cancel">取消</a></div>
    <div class="weixin_div" style="display:none;">
      <div class="weixin_bak">
        <img class="weixin_bg" src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/weixin.png" />
        <img class="weixin_code" src="/qrc.ashx?codetext=%2fmanhua38247%2f" />
        <a href="javascript:void(0);" onclick="$('.weixin_div').hide();$('.mask').hide();">
          <img class="weixin_cross" src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/weixin_cross.png" /></a>
      </div>
    </div>
     <!--广告位-->
    <!--<div class="adform_2 clDiv" id="mb-bb2" style="margin-bottom: 0px; margin-top: 5px; height: 82.2px;" adgroupid="0" adid="211" aid="2800">
      <script type="text/javascript">var h = $("#mb-bb2").width() * 0.15;
      $("#mb-bb2").css("height", h + "px");</script>
      <script type="text/javascript">addtogroup(211, 0, 2800, 'mb-bb2');</script>
    </div>-->
    <div class="adform_2 clDiv" style="margin-bottom: 0px; margin-top: 5px; height: 82.2px; background-color: white;">

    </div>
    <div style="height:70px;"></div>
    <a href="javascript:void(0);" onclick="$('html, body').animate({ scrollTop:0},500);">
      <img class="return-top" src="http://css99tel.cdndm5.com/v201903121809/blue/images/mobile/return-top.png" /></a>
    <script type="text/javascript">$(window).scroll(function() {
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
        if (scrollTop > 300) {
            $(".return-top").fadeIn();
        } else {
            $(".return-top").fadeOut();
        }
        if (scrollTop > 111) {
            $('.normal-top').css('position', 'fixed');
            $('body').css('padding-top', '0px');
        } else if (scrollTop > 65) {
            $('.normal-top').css('position', 'fixed');
            $('body').css('padding-top', (111 - scrollTop) + 'px');
        } else {
            $('.normal-top').css('position', 'inherit');
            $('body').css('padding-top', '0px');
        }
    });</script>
    <div style="display: none">
      <!--1kkk-->
      <script type="text/javascript">(function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://': 'http://') + "w.cnzz.com/c.php?id=30046992";
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();</script>
      <script type="text/javascript">var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27601854-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl': 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();</script>
      <script type="text/javascript">(function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://': 'http://') + "w.cnzz.com/c.php?id=1258751996";
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();</script>
      <script type="text/javascript">(function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://': 'http://') + "w.cnzz.com/c.php?id=1260731671";
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();</script>
    </div>
  </body>
</html>